include lightdm-gtk-greeter-settings.desktop.in README COPYING
include com.ubuntu.pkexec.lightdm-gtk-greeter-settings.policy.in
include bin/*
recursive-include data *.ui *.xml
recursive-include data/icons *.svg *.png
recursive-include lightdm_gtk_greeter_settings *.py
recursive-include po *.po *.pot *.in
